html {
  font-family: 'Dosis', sans-serif;
}
body {
  margin-left: 150px;
}

.bimg {
  background-image: url("images/pexels-photo-169573.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;

}

h1 {
  color: rgb(204, 0, 102);
  font-family: 'Lobster Two', cursive;
  letter-spacing: 3px;
  font-size: 60px;
}
h3{
  color: #FF1F8F;
  font-size: 15px;
}
nav {
  text-align: right;
  font-size: 20px;
}

p {
  color: rgb(204, 0, 102);
  font-family: 'Arima Madurai', cursive;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding 0;
  width: 60px;
  display:inline;
  text-align: right;
}
li {
  display: inline;
  padding: 15px;
  letter-spacing: 2px;
  color: rgb(102, 0, 51);
  font-weight: bold;
}
footer {
  align-items: center;
  padding: 20px
}

/*#name {
background-color: rgb(37,7,54);
}*/

.contact {
  width: 5px;
  height: 5px;

}
.contact:hover{

}

/*.about {
  height: 350px;
  width: 600px;
  display: inline-block;

}*/

.square1 {
  background-image: url();
  background-color: rgb(37,7,54);
}
.square2 {
  background-image: url("images/Screen Shot 2017-07-26 at 1.29.58 PM.png");
}
.square3 {
  background-image: url("images/Screen Shot 2017-06-29 at 12.40.50 PM.png");
}
.square4 {

}
.square1, .square2, .square3, .square4{
  background-size: 545px 380px;
  width: 545px;
  height:380px;
  border: 5px solid rgb(37,7,54);
  display: inline-block;
  -webkit-transition: all 1s ease;
  filter: grayscale();
}

.square1:hover, .square2:hover, .square3:hover, .square4:hover {
  filter: none;
}
.tech {

}
